.footer-container{
    height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    .footer{
        color: #ccc;
        text-align: center;
        padding-bottom: 20px;
        font-size: 1.5rem;
    }
}