.choice{
    padding: 2rem;
    font-size: 2rem;
    vertical-align: top;
    .choice-title{
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .choice-dry{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .choice-btn{
        margin-top: 3rem;
    }
}