.d-menu{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    background-color: #1890ff;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
    .d-menu-left, .d-menu-right{
        min-width: 6rem;
    }
    .d-route-name{
        font-size: 2rem;
        color: white;
        width: 100%;
        text-align: center;
        line-height: 5rem;
        margin: 0;
    }
}
.d-drawer{
    .ant-drawer-body{
        padding: 0;
    }
}